*.swp
.snakemake/
zenodo/
regions/
output*/
logs/
data/
*_homo/
*_triticum/
memory_comparison/
# pixi environments
.pixi/*
!.pixi/config.toml
# in case user runs this with `-d` set to repo root
bamfiles/
benchmarks/
results/
__pycache__
figures/figure1/subfigs*
figures/*png
figures/*pdf
